<a href="https://colab.research.google.com/github/rakshithaelango/TASKS.python/blob/main/PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#series

In [ ]:
list1 = [1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 ]
s = pd.Series(list1)
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
# want to change index number

In [ ]:
s1 = pd.Series(list1 , index = [201 , 202 , 203 , 204 , 205, 206, 207, 208, 209])
s1

201    1
202    2
203    3
204    4
205    5
206    6
207    7
208    8
209    9
dtype: int64

In [ ]:
# Passing thugh dictonary

In [ ]:
d = {202:'a' , 203 :'b' , 204:'c', 205:'d'}

In [ ]:
s3 = pd.Series(d)

In [ ]:
s3

202    a
203    b
204    c
205    d
dtype: object

In [ ]:
#data frame

In [ ]:
l = [[1,2,3,4,5] , [100,200,300,400,500]]
df = pd.DataFrame(l)
df

     0    1    2    3    4
0    1    2    3    4    5
1  100  200  300  400  500

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
l2 = [['priya',100],['rithik',200],['ram',300],['kokila',400],['suba',500]]
df2 = pd.DataFrame(l2, columns = ['name','marks'], index = ['st1','st2','st3','st4','st5'])
df2

       name  marks
st1   priya    100
st2  rithik    200
st3     ram    300
st4  kokila    400
st5    suba    500

In [ ]:
l3 = [['name','Rakshitha'],['age',21],['Address','Hosur'],['Contact',9585253227]]
df3 = pd.DataFrame(l3, columns = ['id','details'], index= [1,2,3,4])
df3

        id     details
1     name   Rakshitha
2      age          21
3  Address       Hosur
4  Contact  9585253227

In [ ]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])

pd.DataFrame({ 'City name': city_names, 'Population': population })

       City name  Population
0  San Francisco      852469
1       San Jose     1015785
2     Sacramento      485199

In [ ]:
l = [['Rakshi' , 100],['kumar', 200],['madhu' , 300],['priya' , 400],['rosh' , 500]]
l1 = pd.DataFrame(l , index = ['st1', 'st2', 'st3', 'st4', 'st5'] , columns = ['Names', 'Marks'])
l1

      Names  Marks
st1  Rakshi    100
st2   kumar    200
st3   madhu    300
st4   priya    400
st5    rosh    500

In [ ]:
l1['Age'] = [20,30,40,50,60]
l1

      Names  Marks  Age
st1  Rakshi    100   20
st2   kumar    200   30
st3   madhu    300   40
st4   priya    400   50
st5    rosh    500   60

In [ ]:
del l1['Age']

In [ ]:
l1

      Names  Marks
st1  Rakshi    100
st2   kumar    200
st3   madhu    300
st4   priya    400
st5    rosh    500

In [ ]:
l1.iloc[0]

Names    Rakshi
Marks       100
Name: st1, dtype: object

In [ ]:
l1.loc['st1']

Names    Rakshi
Marks       100
Name: st1, dtype: object

In [ ]:
l1.loc['st1','Names']

'Rakshi'

In [ ]:
l1.loc['st1':'st3']

      Names  Marks
st1  Rakshi    100
st2   kumar    200
st3   madhu    300

In [ ]:
import pandas as pd

In [ ]:
# https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data

In [ ]:
cols = ['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings']

In [ ]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data', names = cols)

In [ ]:
data

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [ ]:
data.shape

(4177, 9)

In [ ]:
data.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [ ]:
data.head(30)

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
5,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8
6,F,0.530,0.415,0.150,0.7775,0.2370,0.1415,0.330,20
7,F,0.545,0.425,0.125,0.7680,0.2940,0.1495,0.260,16
8,M,0.475,0.370,0.125,0.5095,0.2165,0.1125,0.165,9
9,F,0.550,0.440,0.150,0.8945,0.3145,0.1510,0.320,19
10,F,0.525,0.380,0.140,0.6065,0.1940,0.1475,0.210,14
11,M,0.430,0.350,0.110,0.4060,0.1675,0.0810,0.135,10
12,M,0.490,0.380,0.135,0.5415,0.2175,0.0950,0.190,11
13,F,0.535,0.405,0.145,0.6845,0.2725,0.1710,0.205,10
14,F,0.470,0.355,0.100,0.4755,0.1675,0.0805,0.185,10
15,M,0.500,0.400,0.130,0.6645,0.2580,0.1330,0.240,12
16,I,0.355,0.280,0.085,0.2905,0.0950,0.0395,0.115,7
17,F,0.440,0.340,0.100,0.4510,0.1880,0.0870,0.130,10
18,M,0.365,0.295,0.080,0.2555,0.0970,0.0430,0.100,7
19,M,0.450,0.320,0.100,0.3810,0.1705,0.0750,0.115,9
20,M,0.355,0.280,0.095,0.2455,0.0955,0.0620,0.075,11
21,I,0.380,0.275,0.100,0.2255,0.0800,0.0490,0.085,10
22,F,0.565,0.440,0.155,0.9395,0.4275,0.2140,0.270,12
23,F,0.550,0.415,0.135,0.7635,0.3180,0.2100,0.200,9
24,F,0.615,0.480,0.165,1.1615,0.5130,0.3010,0.305,10
25,F,0.560,0.440,0.140,0.9285,0.3825,0.1880,0.300,11
26,F,0.580,0.450,0.185,0.9955,0.3945,0.2720,0.285,11
27,M,0.590,0.445,0.140,0.9310,0.3560,0.2340,0.280,12
28,M,0.605,0.475,0.180,0.9365,0.3940,0.2190,0.295,15
29,M,0.575,0.425,0.140,0.8635,0.3930,0.2270,0.200,11

In [ ]:
data.tail()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [ ]:
data.tail(10)

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
4167,M,0.500,0.380,0.125,0.5770,0.2690,0.1265,0.1535,9
4168,F,0.515,0.400,0.125,0.6150,0.2865,0.1230,0.1765,8
4169,M,0.520,0.385,0.165,0.7910,0.3750,0.1800,0.1815,10
4170,M,0.550,0.430,0.130,0.8395,0.3155,0.1955,0.2405,10
4171,M,0.560,0.430,0.155,0.8675,0.4000,0.1720,0.2290,8
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [ ]:
x = data.iloc[:, 0:-1]

In [ ]:
x

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550
...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950

In [ ]:
y = data['Rings']

0       15
1        7
2        9
3       10
4        7
        ..
4172    11
4173    10
4174     9
4175    10
4176    12
Name: Rings, Length: 4177, dtype: int64

In [ ]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             4177 non-null   object
 1   Length          4177 non-null   float64
 2   Diameter        4177 non-null   float64
 3   Height          4177 non-null   float64
 4   Whole weight    4177 non-null   float64
 5   Shucked weight  4177 non-null   float64
 6   Viscera weight  4177 non-null   float64
 7   Shell weight    4177 non-null   float64
dtypes: float64(7), object(1)
memory usage: 261.2+ KB

In [ ]:
x.describe()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000

In [ ]:
x.isnull().sum()

Sex               0
Length            0
Diameter          0
Height            0
Whole weight      0
Shucked weight    0
Viscera weight    0
Shell weight      0
dtype: int64

In [ ]:
x

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550
...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950

In [ ]:
x['Sex']

0       M
1       M
2       F
3       M
4       I
       ..
4172    F
4173    M
4174    M
4175    F
4176    M
Name: Sex, Length: 4177, dtype: object

In [ ]:
x['Sex'].value_counts()

M    1528
I    1342
F    1307
Name: Sex, dtype: int64